* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%; /* Ensure the body and HTML element fill the entire viewport */
}

.quilt-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  flex: 1; /* Fill remaining vertical space */
  display: flex;
}

.box {
  width: 20%;
  height: 100%; /* Each box fills the entire height of its row */
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the entire image fits within the container */
}

.box1 {
  background: linear-gradient(90deg, #ff6666, #ffdada);
}

.box2 {
  background: linear-gradient(45deg, #ffcc66, #fff599);
}

.box3 {
  background: linear-gradient(45deg, #66ccff, #99ccffaf);
}

.box4 {
  background: linear-gradient(45deg, #ff99cc, #ffccdd);
}

.box5 {
  background: linear-gradient(45deg, #99ff66, #36492f);
}
