body {
  background-color: #e6e6e6; /* Change this to your desired background color */
  font-family: "Arial, Helvetica, sans-serif";
  text-align: center;
}

h1 {
  font-style: italic;
  padding-top: 10px;
}

p {
  font-size: 45px;
}

.title {
  font-weight: bold;
}

#theend {
  color: #3366cc; /* Change this to your desired color */
}

div {
  padding: 50px;
  margin: 80px;
  border: 10px solid rgb(238, 94, 190);
}
